.vscode/*
*.code-workspace
recs
inputFile*
parent_monitor
monitor
writer
child1.cpp
child2.cpp
parent.cpp
writer.cpp
a/*
log_file.*
fifo_pipes/*
countries/*
build/*
monitor
travelMonitor

!app/*
!lib/*
!include/*




