.vscode/*
*.code-workspace
recs
inputFile*
log_files/*
fifo_pipes/*
countries/*
build/*
Monitor
travelMonitor

!app/*
!lib/*
!include/*

app/parent_monitor
app/monitor
app/test_dates.cpp
app/test_dates



