.vscode/*
*.code-workspace
recs
inputFile*
monitor
writer
child1.cpp
child2.cpp
parent.cpp
writer.cpp
log_files/*
fifo_pipes/*
countries/*
build/*
monitor
travelMonitor

!app/*
!lib/*
!include/*

app/parent_monitor
app/test_dates.cpp
app/test_dates



